# MongoDB connection string
MONGO_URI=mongodb+srv://wanderlust_managers:vEpx74HQoDF0XsAD@cluster0.onxzedt.mongodb.net/wanderlust?appName=Cluster0
MONGO_DB_NAME=wanderlust

# Server port
PORT=5000

# Firebase project id (used to verify Firebase ID tokens)
FIREBASE_PROJECT_ID=anderlust-37f1b

# Comma separated list of emails that should automatically become admins
ADMIN_EMAILS=admin@wanderlust.com

# imgbb API key (used to host uploaded images — https://api.imgbb.com/)
IMGBB_API_KEY=00be87d64cf6c4e8ab1c8ae09300ba12

# Client URL (for CORS)
CLIENT_URL=http://localhost:5173
